* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(63, 12, 233);
  color: white;
}

nav {
  display: flex;
  gap: 20px;
}

a {
  flex-direction: row;
  color: rgb(14, 6, 6);
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}
nav a {
  color: white;
}

nav a:hover {
  color: rgb(14, 201, 201);
  background-color: black;
}

h1 {
  font-size: 24px;
}

table th {
  color: rgb(11, 11, 184);
  font-size: 20px;
}

main {
  padding: 30px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
form {
  padding: 10px;
}

input {
  height: 30px;
  width: 1200px;
  border: 1px solid black;
}

fieldset {
  padding: 10px;
  font-size: 18px;
  color: black;
  border: 2px solid black;
}

textarea {
  border: 2px solid black;
}

button {
  color: white;
  background-color: black;
  height: 40px;
  width: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}
button:hover {
  color: brown;
  transition: 0.5s;
}

main h1 {
  color: rgb(11, 11, 184);
}
p {
  justify-content: center;
  font-size: 18px;
}
table {
  height: 300px;
  width: 1200px;
  margin: 20px;
}
td {
  padding: 10px;
}

img {
  border-radius: 50%;
  object-fit: cover;
  padding: 10px;
}
section {
  padding: 20px;
  font-size: 16px;
  justify-content: center;
  line-height: 35px;
}
section h2 {
  color: rgb(11, 11, 184);
}

hr {
  border: 1px solid black;
}

footer {
  background-color: rgb(10, 7, 21);
  color: yellow;
  padding: 15px;
  text-align: center;
  font-size: 18px;
}
footer a {
  color: yellow;
}
