.static-box {
  background-color: brown;
  color: aliceblue;
  padding: 20px;
  border: 2px dotted black;
  position: static;
}

.relative-box {
  background-color: rgb(25, 187, 195);
  color: white;
  padding: 20px;
  border: 2px solid blue;
  position: relative;
}

.normal-box {
  background-color: brown;
  padding: 20px;
  border: 2px solid grey;
}
.parent-relative {
  background-color: rgb(155, 105, 201);
  padding: 50px;
  border: 3px dashed black;
  height: 200px;
  position: relative;
}
.absolute-box {
  background-color: rgb(48, 231, 48);
  color: black;
  padding: 10px;
  border: 2px solid green;
  width: 100px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.Absolute-box2 {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 100px;
  height: 100px;
  border: 3px solid green;
}
